<% content_for(:title) { 'Appliance Setup' } %>

    <div class="row center mt-3 justify-content-center">
      <div class="col-6">
      <%= form_for(:setup_user, url: setup_user_path, html: { id: 'setup_user', class: 'styled-form', style: 'width: 100%'}) do |f| %>
        <div class="row center">
          <div class="col">
            <div class="row">
              <h2>Create Admin User</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mb-1">
          <div class="col-sm-4 form-label mt-1">
            <%= f.label :name, 'Name:' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-sm-4 form-label mt-1">
            <%= f.label :username, 'Username:' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :username, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-sm-4 form-label mt-1">
            <%= f.label :password, 'Password:' %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-sm-4 form-label mt-1">
            <%= f.label :password_confirmation, 'Confirm password:', required: true %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
          </div>
        </div>
	<hr>
	<div class="row float-start">
          <h6>Create an admin user to login to the appliance.</h6>
        </div>
        <%= f.submit 'Next', class: 'btn btn-primary mt-2 float-end' %>
      <% end %>
      </div>
    </div>
