<% content_for(:title) { 'Appliance Information' } %>

<div class="row center mt-3 justify-content-center">
  <div class="col-4">
    <%= render 'appliance_info' %>
    <%= render 'network_info' %>
  </div>

  <div class="col-4">
    <%= render 'support_mode' %>
    <%= render 'vpn_info' %>
    <%= render 'power_controls' %>
  </div>
</div>
